error.log
scripts/Misc/*
scripts/data/ssp/
scripts/BaSeL3.1_Atlas/
scripts/Miles_Atlas/
scripts/Stelib_Atlas/
*.ipynb
*.npz
*.npy
*.pdf
*.txt
*.png
*.pyc
*.tex
smpy-obs/Dust Extinction Curves.py
smpy-obs/DustExtinctionCurves.py
smpy-obs/test.py
smpy-obs/filters/*
bpass_tests.py
misc_testing/*
trunc_exponential.py
*.hdf
*.hkl
*.pkl
*.pickle
dust_tests.py
*.pyc
*.pyc
!scripts/data/Filters/*.txt
