error.log
scripts/misc/*
scripts/data/ssp/*
*.ipynb
*.npz
*.npy
*.pdf
*.txt
*.png
*.pyc
*.tex
smpy-obs/Dust Extinction Curves.py
smpy-obs/DustExtinctionCurves.py
smpy-obs/test.py
smpy-obs/filters/*
bpass_tests.py
misc_testing/*
trunc_exponential.py
*.hdf
*.hkl
*.pickle
dust_tests.py

*.pyc

*.pyc
